<ul class="nav nav-tabs nav-justified">
    <li>@Html.ActionLink("Заходи", "Index", "Events")</li>
    <li>@Html.ActionLink("Створити захід", "Create", "Events")</li>
    <li>@Html.ActionLink("Календар", "Calendar", "Events")</li>
</ul>
