<div class="navbar-collapse collapse">
    <div align="center">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Створити захід", "Create", "Events")</li>
            <li>@Html.ActionLink("Календар", "Index", "Calendar")</li>
        </ul>
    </div>
</div>
