@{
    ViewBag.Title = "Про Планету";
}
<h2>@ViewBag.Title</h2>
<div align="center"><img src="~/Content/planeta.png" width="100%"/></div><br/>
Натхненні київськими проектами та прикладами інших вишів (#КПІ #НаУКМА #КНУБА) ми хочемо зробити вільний освітній простір в #КНУ на місці старого диско-клубу.<br/>
<br />
Уявіть місце, де ви можете сидіти до ночі. Уявіть місце, де ви можете спокійно попрацювати наодинці або з друзями. Просто уявіть найзручніше місце в світі. Вітаю, ви в Планеті.<br />
<br />
Планета буде не просто коворкінгом. Вона буде точкою росту нашого університету. Це буде великий hub, в якому об’єднаються освіта і творчість, розваги та робота. Центр співдії та комунікації.<br />
<br />
Шукаєте місце для самоосвіти? В нас буде відкритий освітній hub, на основі якого проводитимуться навчальні лекторії, школи, та просто будемо разом вчитися. Тут буде й мистецький концентратор, де будуть майстерні, воркшопи, або просто будемо разом творити. А якщо вам це все не потрібно, ви хочете просто відпочити, то у нас ви зможете і книгу почитати, і фільм подивитися, і концерт послухати, і з друзями побазікати.<br />
<br />
Важливе місце в нашому задумі ми відводимо студентським ініціативам. В нас завжди знайдеться місце для проведення зустрічей, тренінгів, фестивалей, презентацій, конференцій, хакатонів тощо. Як показав Урбанавт, з якого і почалося життя цього проекту, Планета прекрасно підходить для проведення подібних заходів.<br />
<br />
Ми бачимо в “Планеті” осередок університетських ініціатив та андеграундового життя кампусу. Планетa буде місцем де завжди відкриті двері.<br />
<br />
Місцем, де ми всі зберемось.
@*<img src="~/Content/planeta_description1.jpg"/>
<img src="~/Content/planeta_description2.jpg" />
<img src="~/Content/planeta_description3.jpg" />*@
