@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Developed by:
    <ul>
        <li>Andrii Kobzar</li>
        <li>Artem Bilozerov</li>
        <li>Dmytro Kizema</li>
    </ul>
    </p>
