@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Planeta</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu risus nec turpis maximus posuere vitae ac est. Etiam id vehicula orci. Suspendisse vitae neque lectus. Sed arcu purus, luctus eget neque sed, mollis malesuada tortor. In sed hendrerit urna. Nullam tellus metus, sagittis nec ultricies fringilla, ultricies a justo. Nam vitae interdum nibh. Praesent pharetra arcu non ex venenatis consectetur et sit amet ipsum. Etiam vel turpis a sapien commodo lobortis sed eu lectus. Nullam gravida urna ut ornare viverra.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Cras semper ligula et tempus consectetur. Pellentesque euismod sem erat, quis cursus lectus porta id. Pellentesque accumsan iaculis ipsum eget hendrerit. Maecenas et ornare sem. Nunc in risus vitae augue tristique elementum. Aliquam placerat nulla erat, quis interdum dui molestie sit amet. Donec viverra fringilla elit vel viverra. Proin ac bibendum diam. Etiam dolor nulla, euismod sed massa vel, feugiat consectetur nunc.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Phasellus non ornare ligula, sit amet gravida tortor. Nam arcu lorem, pretium sed ex id, consequat semper ligula. Donec tincidunt elit ante, sit amet ullamcorper quam efficitur in. Praesent sit amet finibus metus. Donec a dolor lacinia, rhoncus ipsum id, tincidunt sapien. Nulla porttitor ex vel sem maximus porta. Cras condimentum tortor nec lacus vulputate, id gravida risus lacinia. Sed at ex sed risus laoreet rhoncus. Morbi vel erat ut dui varius facilisis. Cras ultricies arcu vel arcu sollicitudin vehicula. Donec egestas magna diam, a vulputate est convallis ut. Morbi pellentesque lorem nisl, et imperdiet metus sollicitudin eu. Vestibulum eu leo sed lacus blandit lacinia. Vivamus rhoncus non ipsum quis tincidunt. Suspendisse ut imperdiet diam.</p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Aliquam lectus libero, sollicitudin sed dolor vel, volutpat eleifend nulla. Proin laoreet lorem ac nulla pellentesque congue. Duis quis auctor lacus. Maecenas sed ex lacinia, condimentum mi non, facilisis nulla. Nam ac nunc scelerisque, sodales ipsum vel, rhoncus est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris erat dui, fringilla vitae tortor sit amet, fringilla rhoncus leo. Nam interdum orci pretium lectus interdum, in venenatis odio auctor. Mauris efficitur nunc a pharetra interdum. Fusce condimentum nunc mi, id mattis nulla tempor id. Phasellus vitae pulvinar libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>
</div>