@model int
@{
    ViewBag.Title = "AddPoster";
}

<h2>AddPoster</h2>
@using (Html.BeginForm("AddPoster", "Administrator", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("id", Model)
    <input type="file" name="fileUpload" value="Завантажити файл афіші"/>
    <input type="submit" name="file" class="btn btn-default" value="Опублікувати афішу" />
}