@model IEnumerable<Planeta_Online.Models.BlogPost>
@{
    ViewBag.Title = "Blog";
}

<h2>Редагування Блогу</h2>

<table class="table">
    <tr>
        <th>Назва</th>
        <th>Дата</th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Title)</td>
        <td>@Html.DisplayFor(modelItem => item.TimeStamp)</td>
        <td>@Html.ActionLink("Редагувати","EditPost","Administrator", new { id=item.Id }) | 
            @Html.ActionLink("Видалити", "DeletePost", "Administrator", new { id = item.Id })
        </td>
    </tr>
}
</table>