
@{
    ViewBag.Title = "Admin";
}

<h2>Сторінка адміністратора</h2>
<h3>Доступні дії:</h3>
<div class="form-group">
    <div class="col-md-12">
        <input class="btn btn-default" type="button" title="Список книг" value="Каталог книг" onclick="location.href='@Url.Action("Books", "Administrator")'" />
    </div>
</div>
<br/>
<div class="form-group">
    <div class="col-md-12">
        <input class="btn btn-default" type="button" value="Зареєстровані події" onclick="location.href='@Url.Action("SubmittedEvents", "Administrator")'" />
    </div>
</div>
<br/>
<div class="form-group">
    <div class="col-md-12">
        <input class="btn btn-default" type="button" value="Події" onclick="location.href='@Url.Action("Events", "Administrator")'" />
    </div>
</div>
