@model Planeta_Online.Models.VisitorsViewModel
@{
    ViewBag.Title = "Відвідувачі";
}

<h2>Заявки на @Model.EventName</h2>
<table class="table">
    <tr>
        <th>N</th>
        <th>Ім'я</th>
        <th>Email</th>
        <th>Сповіщення</th>
    </tr>
    @{
        int i = 0;
        foreach (var item in Model.Visitors)
        {
            <tr>
                <td>@(++i))</td>
                <td>@Html.DisplayFor(model => item.Name)</td>
                <td>@Html.DisplayFor(model => item.Email)</td>
            </tr>
        }}
</table>