@model Planeta_Online.Models.CalendarModel
@{
    ViewBag.Title = "Calendar";
}
@Html.Partial("_EventPartial")
<div id='calendar'></div>
@section scripts{
    <script type="text/javascript">
    $(document).ready(function () {
            $('#calendar').fullCalendar({
                theme: true,

                //defaultView: 'agendaDay',
                editable: false,
               // events: "/home/getevents/"
            });
        });
    </script>
}