@model  IEnumerable<Planeta_Online.Models.Event>

@{
    ViewBag.Title = "Заходи";
}
@Html.Partial("_EventPartial")
<h2>Заходи</h2>


<table width="100%">
    @for(int i = 0; i < Math.Ceiling((double)Model.Count() / 3); i++)
    {
        <tr>
            @for (int j = i * 3; j < (i + 1) * 3 && j < Model.Count(); j++)
            {
                <td>
                    <div class="col col-lg-4">
                        <br />
                        <a href="~/Events/Details/@Model.ElementAt(j).Id"><img src="@Model.ElementAt(j).PosterPath" width="300" height="400"/></a>
                    </div>
                </td>
            }           
        </tr>
    }
</table>