<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://andriikobzar-001-site1.btempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://andriikobzar-001-site1.btempurl.com:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>andriikobzar-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\andriikobzar-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=SQL5020.Smarterasp.net;Initial Catalog=DB_9E577D_planetadb;User ID=DB_9E577D_planetadb_admin;Password=AndriiKobzar1997" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Planeta_Online.Models.ApplicationDbContext, Planeta Online" MigrationConfiguration="Planeta_Online.Migrations.Configuration, Planeta Online" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5020.Smarterasp.net;Initial Catalog=DB_9E577D_planetadb;User ID=DB_9E577D_planetadb_admin;Password=AndriiKobzar1997</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>